@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,400;1,500;1,700&display=swap');

:root{
  --green: #27B066;
  --gray: #6C757D;
  --green-hover: #0A8A45;
  --gray-hover: #585A5B;
  --white: #FFFFFF;
  --error: #E56774;
  --focus: #BFDEFF;
}

body{
  font-family: 'Rubik', sans-serif;
}


.button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 9px 24px;
  font-size: 1rem;
  border-radius: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* ... default button ... */

.button-default {
  color: #fff;
  background-color: var(--green);
  border-color: var(--green);
}
.button-default:hover {
  color: #fff;
  background-color: var(--green-hover);
  border-color: var(--green-hover);
}

/* ... /default button ... */

/* ... outline button ... */

.button-outline {
  color: var(--green);
  border-color: var(--green);
}

.button-outline:hover {
  color: #fff;
  background-color: var(--green);
  border-color: var(--green);
}

/* ... /outline button ... */

/* ... large button ... */

.button-large {
  color: #fff;
  background-color: var(--green);
  border-color: var(--green);
  padding: 20px 24px;
}

.button-large:hover {
  color: #fff;
  background-color: var(--green-hover);
  border-color: var(--green-hover);
  padding: 20px 24px;
}

/* ... /large button ... */