/* margin */

/*... margin ...*/
.mrg-1{
  margin: 10px;
}

.mrg-2{
  margin: 20px;
}

/*... margin-top ...*/

.mrg-t-1{
  margin-top: 10px;
}

.mrg-t-2{
  margin-top: 20px;
}



/* padding */

.pd-1{
  padding: 10px;
}

.pd-2{
  padding: 20px;
}
